*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    margin: 50px auto;
    width: 300px;
    height: 300px;
    background-color: red;
    border-radius: 50px;
}

.btn{
    margin: 100px auto;
    border: unset;
    outline: none;
    background-color: green;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
    display: block;
    cursor: pointer;
}

.speed-container{
    margin: 20px auto;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}